/* 今回は、li（幅100%）の中に、div（吹き出し）を
挿入する。吹き出しの三角形は疑似要素を使用する。 */
* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

/*チャットのフィールド*/
#field {
    width: 300px;
    height: 230px;
    padding: 7px 0 14px;
    box-sizing: border-box;
    background-color: #EEE;
    margin: 0 auto;
    background-color: #81AECF;
    /*横向きのスクロール禁止*/
    overflow-x: hidden;
    /*縦向きのスクロール許可*/
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    /*IE、Edgeでスクロールバーを非表示にする*/
    -ms-overflow-style: none;
}

/*Chrome、Safariでスクロールバーを非表示にする*/
#field::-webkit-scrollbar {
    display: none;
}

#input-field {
    width: 300px;
    height: 45px;
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid #777;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
    background-color: #FFF;
    margin: 0 auto;
}

/*入力する場所*/
#chat-input {
    height: 25px;
    width: 67%;
    display: block;
    font-size: 14px;
    color: #000;
    box-sizing: border-box;
    border: 1px solid #777;
    border-radius: 4px;
    padding-left: 10px;
    margin: auto 10px;
}

#chat-input:focus {
    border: 1.3px solid #8873FF;
    outline: 0;
}

/*送信ボタン*/
#chat-button {
    cursor: pointer;
    height: 25px;
    width: 24%;
    margin: auto;
    margin-right: 7%;
    font-size: 13px;
    background: #8873FF;
    color: white;
    display: block;
    /*デフォルトのボーダーを消す*/
    border: none;
    box-sizing: border-box;
    border-radius: 6.5px;
}

#chat-button:focus {
    outline: 0;
    background: #A899FF;
}

#chat-ul {
    /*ulのデフォルの隙間を消す*/
    padding: 0;
    list-style: none;
}

#chat-ul>li {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 7px;
    word-wrap: break-word;
}

#chat-ul>li>div {
    display: inline-block;
    box-sizing: border-box;
    color: #000;
    border-radius: 6px;
    min-height: 23px;
    max-width: 150px;
    padding: 7px 13px;
    font-size: 15px;
    line-height: 1.2em;
}

/*自分の吹き出し*/
.me {
    text-align: right;
}

.mediv {
    position: relative;
    display: inline-block;
    margin: 1.5em 15px 1.5em 0;
    padding: 0 5px;
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    background: #ff8e9d;
    border-radius: 50%;
    box-sizing: border-box;
}

.mediv::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -25px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-left: 15px solid #ff8e9d;
    z-index: 0;
}

/*相手の吹き出しのデザイン*/
.com {
    text-align: left;
}

.comdiv {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 0 5px;
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    background: #ffcc75;
    border-radius: 50%;
    box-sizing: border-box;
}

.comdiv::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -25px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #ffcc75;
    z-index: 0;
}